@import '~/scss-vars/monitors.scss';
@import '~/scss-vars/sizes.scss';
@import '~/scss-vars/colors.scss';

.appWrapper {
  display: flex;
  flex-direction: column;

  & > .siteHeader {
    z-index: 1;
    .logo {
      // border: 1px solid red;
      border: none;
      max-width: 130px;
      transform: translateY(2px);
    }
    // border-bottom: 2px dashed #{$color-red};
    border-bottom: 2px solid $color-tw-slate-300;

    position: sticky;
    top: 0;
  }
  @media(max-width: #{$monitor-md}px) {
    & > .siteHeader {
      height: #{$height-limit-header-mobile}px;
    }
  }
  @media(min-width:calc(#{$monitor-md}px + 1px)) {
    & > .siteHeader {
      height: #{$height-limit-header-desktop}px;
    }
  }

  & > .siteBody {
    // border: 2px dashed lightgray;

    padding: 64px 0 64px 0;
  }
  @media(max-width: #{$monitor-md}px) {
    & > .siteBody {
      min-height: calc(100dvh - #{$height-limit-header-mobile}px);
    }
  }
  @media(min-width:calc(#{$monitor-md}px + 1px)) {
    & > .siteBody {
      min-height: calc(100dvh - #{$height-limit-header-desktop}px);
    }
  }

  & > .siteFooter {
    // border: 2px dashed lightgray;
    border-top: 2px solid $color-tw-slate-300;
  }
}
