@import '~/scss-vars/colors.scss';
@import '~/scss-vars/common.scss';

.phoneInputWrapper {
  box-sizing: border-box;

  // > div.react-phone-input-2_containerClass.react-tel-input
  // > div > input.form-control.react-phone-input-2_inputClass._spInput_4otgd_1
  // > div.flag-dropdown

  .flagDropdown {
    .selectedFlag {
      border: $common-control-elements-border-width solid red !important;
    }
  }
  // .buttonClass {
  //   border: 1px solid black;
  // }

  .borderedGray {
    border-color: $color-tw-slate-300 !important;
  }  
  .borderedRed {
    border-color: $color-red !important;
  }
  .borderedGreen {
    border-color: $color-green-dark !important;
  }  

  & input {
    border: $common-control-elements-border-width solid red;
    // border-color: $color-tw-slate-300;
    // padding: 8px 10px;
    padding: 8px 10px 8px 48px !important;
    line-height: 35px !important;
    font-size: 16px !important;
    // font-weight: bold;
  }
  // & > div > * {
  //   border: 1px solid red !important;
  // }
  // & .flag-dropdown {
  //   border: 1px solid red;
  // }
  & > div > * > div {
    border-radius: $common-control-elements-radius 0 0 $common-control-elements-radius !important;
  }
  // & > * > * > * > * {
  //   border: 1px solid red;
  // }
  // & > * > * > * > * > * {
  //   border: 1px solid red;
  // }
}
