$color-blue-main: #3882c4;
$color-yellow-main: #fcbf2c;
$color-black-text: #202020;
$color-gray-main: #8c94a0;
$color-grey-2: #b8bdce;
$color-grey-3: #d7dee9;
$color-grey-4: #e6eaf0;
$color-grey-5: #eef1f3;
$color-grey-blue: #e8f0f7;
$color-grey-6: #f4f8fb;
$color-red: #c84f4f;
$color-orange: #f5984e;
$color-green: #71bc81;
$color-green-dark: #168f48;
$color-blue-2: #6ea0eb;
$color-blue-link: #005bff;

$color-tw-slate-400: #94a3b8;
$color-tw-slate-300: #cbd5e1;

$color-mts-red: #FF0032;
$color-mts-red-light: #FFE5E5;
$color-mts-gray: #7F7D89;
$color-mts-gray-light: #BCBBC4;
