$monitor-xs: 320;
$monitor-sm: 600;
$monitor-md: 960;
$monitor-lg: 1280;
$monitor-xl: 1920;

// Limits:
// $limit-md: 960;
$limit-md: 500;

// Header & Footer height limit:
$height-limit-header-mobile: 40;
$height-limit-header-desktop: 50;
