$size-pad-1: 8;
$size-pad-2: 16;
$size-pad-3: 24;
$size-pad-4: 32;
$size-pad-5: 40;

$size-rad-1: 8;
$size-rad-2: 16;

// Limits:
// $limit-md: 768;
$limit-md: 450;
$limit-xl: 1000;

// Header & Footer height limit:
$height-limit-header-mobile: 50;
$height-limit-header-desktop: 60;

// Devtools
$collapsible-box-toggler-height: 40;
$collapsible-box-toggler-pad: 12;
