@import '~/scss-vars/colors.scss';
@import '~/scss-vars/common.scss';

.spBtn {
  user-select: none;
  text-decoration: none;
  outline: none;
  // letter-spacing: .09em;
  // text-transform: uppercase;

  border-radius: $common-control-elements-radius;
  border-width: $common-control-elements-border-width;
  cursor: pointer;
  // padding: 5px;
  transition: all 0.3s linear, box-shadow 0.3s linear;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // NOTE: variant
  &_outlined {
    background-color: #fff;

    &_default {
      // border-color: lightgray;
      border-color: $color-tw-slate-300;
      // color: lightgray;
      color: $color-tw-slate-300;
    }
    &_default:hover {
      box-shadow: 0px 14px 30px -8px #cbd5e1; // slate-300
    }

    &_primary {
      border-color: $color-blue-main;
      color: $color-blue-main;
    }
    &_primary:hover {
      box-shadow: 0px 14px 30px -8px rgba(38, 114, 182, 0.5);
      background: $color-blue-main;
      border-color: $color-blue-main;
      color: #fff;
    }

    &_secondary {
      border-color: gray;
      color: gray;
    }

    &_success {
      border-color: $color-green-dark;
      color: $color-green-dark;
    }
    &_success:hover {
      background: #49C77C;
      border-color: #49C77C;
      box-shadow: 0px 14px 30px -8px rgba(4, 156, 119, 0.5);
    }

    &_black {
      border-color: #000;
      color: #000;
    }
    &_black:hover {
      background: #000;
      color: #fff;
      // box-shadow: none !important;
    }

    &_mtsRed {
      border-color: $color-mts-red;
      color: $color-mts-red;
    }
    // &_mtsRed:hover {
    //   box-shadow: 0px 14px 30px -8px rgba(255, 115, 142, 0.5);
    // }

    &_mtsGray {
      border-color: $color-mts-gray;
      color: $color-mts-gray;
    }
    &_mtsGray:hover {
      background: #FFF;
    }
  }
  &_filled {
    color: #fff;

    &_default {
      background-color: lightgray;
      border-color: lightgray;
    }

    &_primary {
      background-color: $color-blue-main;
      border-color: $color-blue-main;
    }
    &_primary:hover {
      background: $color-blue-main;
      border-color: $color-blue-main;
      box-shadow: 0px 14px 30px -8px rgba(38, 114, 182, 0.5);
    }

    &_secondary {
      background-color: gray;
      border-color: gray;
    }

    &_success {
      background-color: $color-green-dark;
      border-color: $color-green-dark;
    }
    &_success:hover {
      border-color: #49C77C;
      box-shadow: 0px 14px 30px -8px rgba(4, 156, 119, 0.5);
      background: #49C77C;
    }

    &_black {
      background-color: #000;
      border-color: #000;
    }
    &_black:hover {
      border-color: #000;
      // box-shadow: 0px 14px 30px -8px rgba(4, 156, 119, 0.5);
      background: #000;
    }

    &_mtsRed {
      color: #FFF;
      background-color: $color-mts-red;
      border-color: $color-mts-red;
    }
    &_mtsRed:hover {
      border-color: $color-mts-red;
      background: $color-mts-red;
      // box-shadow: 0px 14px 30px -8px rgba(255, 115, 142, 0.5);
    }
    &_mtsRed:disabled {
      // opacity: 0.1;
      background-color: #DDDDDD;
      color: #B3B3B3;
      border-color: #DDDDDD;
      cursor: not-allowed;
    }

    &_mtsGray {
      color: #FFF;
      background-color: $color-mts-gray;
      border-color: $color-mts-gray;
    }
    &_mtsGray:hover {
      border-color: $color-mts-gray;
      background: $color-mts-gray;
    }
  }
  &_unstyled, &_link {
    background-color: #fff;

    &_default {
      // border-color: lightgray;
      border-color: $color-tw-slate-300;
      // color: lightgray;
      color: $color-tw-slate-300;
    }
    &_default:hover {
      box-shadow: 0px 14px 30px -8px #cbd5e1; // slate-300
    }

    &_primary {
      border-color: $color-blue-main;
      color: $color-blue-main;
    }
    &_primary:hover {
      box-shadow: 0px 14px 30px -8px rgba(38, 114, 182, 0.5);
      background: $color-blue-main;
      border-color: $color-blue-main;
      color: #fff;
    }

    &_secondary {
      border-color: gray;
      color: gray;
    }

    &_success {
      border-color: $color-green-dark;
      color: $color-green-dark;
    }
    &_success:hover {
      background: #49C77C;
      border-color: #49C77C;
      box-shadow: 0px 14px 30px -8px rgba(4, 156, 119, 0.5);
    }

    &_black {
      border-color: #000;
      color: #000;
    }
    &_black:hover {
      background: #000;
      color: #fff;
      // box-shadow: none !important;
    }

    &_mtsRed {
      border-color: $color-mts-red;
      color: $color-mts-red;
    }
    &_mtsRed:hover, &_mtsRed:focus {
      // box-shadow: 0px 14px 30px -8px rgba(255, 115, 142, 0.5);
      color: #000;
    }

    &_mtsGray {
      border-color: $color-mts-gray;
      color: $color-mts-gray;
    }
    &_mtsGray:hover {
      background: #FFF;
    }
  }

  &_fullWidth {
    width: 100%;
  }
}
