@import '~/scss-vars/colors.scss';
@import '~/scss-vars/common.scss';

.spInput {
  outline: unset;
  // border: 2px solid lightgray;
  // border: 2px solid $color-tw-slate-300;
  // border-radius: 8px;
  border: $common-control-elements-border-width solid $color-tw-slate-300;
  border-radius: $common-control-elements-radius;
  cursor: pointer;
  padding: 5px 10px;

  font-size: 16px !important;
  font-weight: bold;
  // letter-spacing: 0.05em;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:focus-visible {
    outline: none;
  }

  // &_primary {
  //   background-color: $color-blue-main;
  //   color: #fff;;
  // }
  // &_secondary {
  //   background-color: gray;
  //   color: #fff;;
  // }

  // &:hover {
  //   // outline: 2px solid $color-blue-2;
  //   // border-color: gray;
  // }
  &:focus {
    // outline: 2px solid $color-blue-main;

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    // --tw-ring-color: rgb(0 0 0 / 0.1);
    --tw-ring-color: #cbd5e1; // stale-300
  }

  &::placeholder {
    color: $color-tw-slate-300
  }
  
}

.borderedRed {
  border: 2px solid $color-red;
}
.borderedGreen {
  border-color: $color-green-dark !important;
}  

