@import '~/scss-vars/monitors.scss';
@import '~/scss-vars/colors.scss';
@import '~/scss-vars/sizes.scss';
@import '~/scss-vars/common.scss';

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

.truncate {
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  padding: 2em;
  border: 1px solid black;
}

.redBorder {
  border: 1px solid red;
}

.read-the-docs {
  color: #888;
}

.stack0 {
  display: flex;
  flex-direction: column;
  // border: 1px dashed red;
  gap: 0px;
}
.stack {
  display: flex;
  flex-direction: column;
  // border: 1px dashed red;
  gap: 16px;
}
.stack2 {
  display: flex;
  flex-direction: column;
  // border: 1px dashed red;
  gap: 16px;
}
.stack4 {
  display: flex;
  flex-direction: column;
  // border: 1px dashed red;
  gap: 32px;
}
.stack5 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.stack6 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.stack7 {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.stack8 {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.stack9 {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.stack10 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.preStyled {
  text-align: left;
  // max-height: 300px;
  width: 100%;
  overflow-y: auto;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  overflow-wrap: anywhere;
}

.specialActionsGrid {
  display: grid;
  column-gap: #{$size-pad-2}px;
  row-gap: #{$size-pad-2}px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.specialGridV {
  display: grid;
  column-gap: #{$size-pad-2}px;
  row-gap: #{$size-pad-2}px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.inlineCode {
  font-family: system-ui; // monospace;
  font-weight: bold;
  padding: 2px 5px;
  /* background: rgb(180, 204, 56); */
  background: #262626;
  color: #FFF;
  border-radius: 6px;
  /* box-shadow: 0 0 3px rgba(0,0,0,.2); */
}

.link {
  // color: $color-blue-2;
  text-decoration: underline;
  font-weight: bold;
}

.grayFilter {
  filter: grayscale(100%);
  opacity: 0.2;
}

@media(max-width: #{$monitor-sm}px) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}
@media(min-width:calc(#{$monitor-sm}px + 1px)) {
  .desktopOnly {
    display: block;
  }
  .mobileOnly {
    display: none;
  }
}

.boxShadowTop {
  box-shadow: rgba(34, 60, 80, 0.2) 0px -10px 7px -8px;
}
.boxShadowBottom {
  box-shadow: rgba(34, 60, 80, 0.2) 0px 10px 7px -8px;
}

@media(max-width: #{$monitor-sm}px) {
  .boxShadowTopMobileOnly {
    box-shadow: rgba(34, 60, 80, 0.2) 0px -10px 7px -8px;
  }
  .boxShadowBottomMobileOnly {
    box-shadow: rgba(34, 60, 80, 0.2) 0px 10px 7px -8px;
  }

  .panelRoundedTopMobile {
    border-radius: $common-control-elements-radius-2;
  }
  .panelRoundedBottomMobile {
    border-radius: $common-control-elements-radius-2;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to   {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.slideUpMobileMediumSpeed {
  border: none;
}
@media(max-width: #{$monitor-sm}px) {
  .slideUpMobileMediumSpeed {
    animation: slide-up 0.75s;
    animation-timing-function: ease-in;
  }
}
@media(min-width: calc(#{$monitor-sm}px + 1px)) {
  .slideUpMobileMediumSpeed {
    animation: fade-in 0.75s;
    animation-timing-function: ease-in;
  }
}

.fadeIn {
  animation: fade-in 0.3s;
  animation-timing-function: ease-in;
}
