@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  /* --std-m-1: 16px;
  --std-m-2: 32px;
  --std-m-3: 48px;
  --std-m-4: 64px;
  --std-m-0625: .625em;
  --std-m-1-swal-like: .8em;
  --std-m-2-swal-like: 1em;
  --std-m-3-swal-like: 2em;
  --std-m-4-swal-like: 2.5em;
  --std-m-5-swal-like: 3em;
  --std-m-6-swal-like: 3.5em;

  --std-width-sm: 330px;

  --blue: rgb(38, 114, 182);
  --blue-focus-border: rgba(38, 114, 182, 0.5);
  --blue-secondary: #dce7f2;
  --green: #168f48;
  --green-focus-border: rgba(22, 143, 72, 0.5);
  --red: #E63232;
  --red-focus-border: rgba(230, 50, 50, 0.5);
  --red-light: #E63232;
  --red-light-focus-border: rgba(230, 50, 50, 0.5);
  --sp-yellow: #fcbf2c;
  --sp-2022-blue: rgb(53, 131, 195);
  --sp-2022-salat: rgb(180, 204, 56);
  --sp-2022-graphite: #262626;

  --modals-fade-out-delay-time: 1s; */
}

/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, .9);
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.backdrop-blur--lite {
  background-color: rgba(255, 255, 255, .9);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--lite {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(.5em);
    backdrop-filter: blur(.5em);
  }
}

.backdrop-blur--subdark {
  background-color: rgba(0, 0, 0, .3);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--subdark {
    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(.15em);
    backdrop-filter: blur(.15em);
  }
}

.backdrop-blur--dark {
  background-color: rgba(0, 0, 0, .8);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--dark {
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(.1em);
    backdrop-filter: blur(.1em);
  }
}

.nw-2022-small-table-text {
  /* font-size: 0.7em; */
  overflow-x: auto;

  border-collapse: collapse;
}
/* table, th, td {
  border: 1px solid lightgray;
  padding: 10px;
} */

/* table > thead {
  border: 1px solid red;
} */
table > tbody > tr > td:first-child {
  /* border: 1px solid red; */
  width: 100%;
}

.react-phone-input-2_containerClass {
  border-radius: 8px;
}
.react-phone-input-2_containerClass > .flag-dropdown,
.react-tel-input .selected-flag:hover {
  border-radius: 8px 0 0 8px;
}
/* .react-tel-input > .flag-dropdown > .open .selected-flag {
  border-radius: 8px 0 0 0 !important;
} */

.react-phone-input-2_inputClass {
  max-width: 100%;
  border-radius: 8px !important;
}
/* .react-phone-input-2_searchClass {} */
/* .react-phone-input-2_dropdownClass {
  border: 1px solid red;
} */

.whitespace-no-wrap {
  white-space: nowrap;
}
.font-weight-bold {
  font-weight: bold;
}
.min-cell {
  /* border: 1px solid red; */
  min-width: 80px;
}
.text-right {
  text-align: right;
}
.menu-box-shadow {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  /*box-shadow: 0 15px 30px rgba(56, 130, 196, 0.3); spBlueMain */
}
