@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, .9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.backdrop-blur--lite {
  background-color: rgba(255, 255, 255, .9);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--lite {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(.5em);
    backdrop-filter: blur(.5em);
  }
}

.backdrop-blur--subdark {
  background-color: rgba(0, 0, 0, .3);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--subdark {
    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(.15em);
    backdrop-filter: blur(.15em);
  }
}

.backdrop-blur--dark {
  background-color: rgba(0, 0, 0, .8);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--dark {
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(.1em);
    backdrop-filter: blur(.1em);
  }
}
